/* styles.css */

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-height: 50px;
}

.top-right {
    display: flex;
    align-items: center;
}

.menu {
    position: relative;
}

.menu a {
    margin-right: 15px;
    color: #fff;
    text-decoration: none;
}

.menu a:hover {
    color: #ddd;
}

.recipes-dropdown {
    position: relative;
    display: inline-block;
}

.recipes-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
    top: 100%; /* Adjust the top value to move the dropdown below the menu */
}

.recipes-menu li {
    padding: 8px;
    text-align: left;
}

.recipes-menu li a {
    text-decoration: none;
    color: #333;
    display: block;
}

.recipes-menu a:hover {
    background-color: #ddd;
}

.recipes-dropdown:hover .recipes-menu {
    display: block;
}

.search {
    margin-right: 15px;
}

.search input {
    padding: 5px;
}

.blue-banner {
    background: url('images/banner.jpg') center/cover;
    color: #fff;
    padding: 100px 20px;
    text-align: center;
}

.banner-space {
    background-color: #00000;
    padding: 20px 20px;
}

.food-banner-space {
    background-color: #00000;
    padding: 5px 20px;
}

.banner {
    background-color: #3498db;
    color: #fff;
    padding: 10px; 
    text-align: center;
}

.closing-banner {
    background-color: #000000;
    color: #fff;
    padding: 300px; 
    text-align: left;
}

.closing-banner {
    padding: 40px;
}

h1 {
    font-size: 56px;
    margin-bottom: 20px;
}

h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.food-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.food-item {
    flex: 1;
    margin: 0 10px;
    text-align: center;
}

.food-item img {
    max-width: 100%;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8); /* color and transparency adjusted as needed */
    backdrop-filter: blur(5px); /* blur strength adjusted as needed */
    z-index: 2; /* To ensure the overlay is above the main content and below the popup */
    display: none; /* Initially hide the overlay */
}

.popup {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 60%; /* Adjusted max width for the popup */
    max-height: 120%; /* Adjusted max height for the popup */
    background: rgba(255, 165, 0, 0.9);
    z-index: 1000;
}

.popup-content {
    padding: 20px;
    text-align: center;
    margin: auto; /* Centering the content horizontally */
}

.popup img {
    max-width: 100%;
    margin-bottom: 20px;
}

.search-banner {
    background-color: #3498db;
    color: #fff; 
    padding: 30px;
    text-align: center;
}

.search-banner h2 {
    font-size: 35px; 
}

.search {
    margin-top: 10px; 
}

.search input {
    padding: 5px;
}

.search button {
    padding: 8px 15px;
    background-color: #fff; 
    color: #3498db; 
    border: none;
    cursor: pointer;
}

.search button:hover {
    background-color: #ddd;
}
