/* styles.css */
body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #333; /* Adjust the color as needed */
    color: #fff; /* Adjust the text color as needed */
    padding: 20px; /* Adjusted padding for the header */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-height: 50px;
}

.top-right {
    display: flex;
    align-items: center;
}

.menu {
    position: relative;
}

.recipes-dropdown {
    position: relative;
    display: inline-block;
}

.recipes-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9; /* Adjust the background color as needed */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Add a shadow for a dropdown effect */
    z-index: 1;
}

.recipes-menu li {
    padding: 8px;
    text-align: left;
}

.recipes-menu li a {
    text-decoration: none;
    color: #333; /* Adjust the text color as needed */
    display: block;
}

/* Show the dropdown menu on hover */
.recipes-dropdown:hover .recipes-menu {
    display: block;
}


.search {
    margin-right: 15px;
}

.search input {
    padding: 5px;
}

.blue-banner {
    background: url('images/banner.jpg') center/cover; 
    color: #fff; /* Adjust the text color as needed */
    padding: 100px 20px; /* Adjusted padding for the blue banner */
    text-align: center;
}

.banner {
    background-color: #3498db; /* Adjust the color as needed */
    color: #fff; /* Adjust the text color as needed */
    padding: 10px; /* Adjusted padding for the blue banner */
    text-align: center;
}

h1 {
    font-size: 46px; /* Adjust the font size as needed */
    margin-bottom: 20px; /* Optional: Add some space below the h1 */
}

.food-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.food-item {
    flex: 1;
    margin: 0 10px; /* Adjust margin as needed */
    text-align: center;
}

.food-item img {
    max-width: 100%; /* Ensure images don't exceed their container width */
}
