/* styles.css */

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-height: 50px;
}

.top-right {
    display: flex;
    align-items: center;
}

.menu {
    position: relative;
}

.menu a {
    margin-right: 15px;
    color: #fff;
    text-decoration: none;
}

.menu a:hover {
    color: #ddd;
}

.recipes-dropdown {
    position: relative;
    display: inline-block;
}

.recipes-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
    top: 100%; /* Adjust the top value to move the dropdown below the menu */
}

.recipes-menu li {
    padding: 8px;
    text-align: left;
}

.recipes-menu li a {
    text-decoration: none;
    color: #333;
    display: block;
}

.recipes-menu a:hover {
    background-color: #ddd;
}

.recipes-dropdown:hover .recipes-menu {
    display: block;
}

.search {
    margin-right: 15px;
}

.search input {
    padding: 5px;
}

.blue-banner {
    background: url('images/banner.jpg') center/cover;
    color: #fff;
    padding: 100px 20px;
    text-align: center;
}

.banner,
.closing-banner {
    background-color: #3498db;
    color: #fff;
    padding: 10px; /* Adjusted padding for the banners */
    text-align: center;
}

.closing-banner {
    padding: 40px; /* Adjusted padding for the closing banner */
}

h1 {
    font-size: 46px;
    margin-bottom: 20px;
}

.food-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.food-item {
    flex: 1;
    margin: 0 10px;
    text-align: center;
}

.food-item img {
    max-width: 100%;
}

.popup {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%; /* Adjusted max width for the popup */
    max-height: 80%; /* Adjusted max height for the popup */
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.popup-content {
    padding: 20px;
    text-align: center;
    margin: auto; /* Centering the content horizontally */
}

.popup img {
    max-width: 100%;
    margin-bottom: 20px;
}
